.rightbar {
    height: calc(100vh - (var(--top-nav-height)));
    position: sticky;
    top: var(--top-nav-height);
    overflow: auto;
    width: calc(var(--right-bar-width) - 2%);
}

.rightbar::-webkit-scrollbar {
    display: none;
}

.rightbar-container {
    width: 100%;
}

@media (max-width:1024px) {
    .rightbar-container {
        width: 100%;
    }

    .rightbar {
        width: 100%;
    }

}

@media (max-width:768px) {
    .rightbar {
        display: none;
    }
}
