.video-feed-container {
    position: relative;
}


.video-feed-container .top-content {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    color: white;
    z-index: 10;
}

.video-feed-container .top-content .middle {
    display: flex;
    gap: 0.3rem;
    font-size: medium;
}

.video-feed-container .top-content .icon {
    width: 1.5rem;
    height: 1.5rem;
}
