.video-feed-container {
    position: relative;
}


.video-feed {
    height: calc(100vh - calc(var(--top-nav-height) + var(--bottom-nav-height)));
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-feed .single-video {
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;

}

.video-feed .top-content,
.video-feed .bottom-content,
.video-feed .side-content,
.video-feed .pause {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.video-feed .pause {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-feed .pause .icon {
    width: 5rem;
    height: 5rem;
    color: white;
    opacity: 70%;
}

.video-feed .side-content {
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.2rem;
    width: 4rem;
}

.video-feed .side-content .interactions {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.2rem;
    z-index: 11;
}

.video-feed .side-content .icon {
    width: 1.7rem;
    height: 1.7rem;
}

.video-feed .side-content .interactions small {
    color: white;
}

.video-feed .side-content .user-profile {
    width: 2.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-feed .side-content .user-profile img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.video-feed-container .top-content {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    color: white;
    z-index: 10;
}

.video-feed-container .top-content .middle {
    display: flex;
    gap: 0.3rem;
    font-size: medium;
}

.video-feed-container .top-content .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.video-feed .bottom-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.3rem 0.5rem;
}

.video-feed .bottom-content .user-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.2rem;
    font-size: small;
}

.video-feed .bottom-content .sound {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    padding: 0.5rem;
}

.video-feed .bottom-content .sound .icon {
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
    justify-content: center;
}

.video-feed .bottom-content .user-info label {
    font-weight: bold;
}

.player {
    width: 100% !important;
}
