.friend-requests .request {
    background: var(--color-card);
    margin-top: 1rem;
    padding: 14px;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.friend-requests .request h5 {
    font-size: 0.91rem;
}

.friend-requests .request .action {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.friend-requests .request .action button {
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.friend-requests .friend-requests-title {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
}
