.leftbar {
    position: sticky;
    top: 3.6rem;
    background: var(--color-card);
    height: calc(100vh - var(--top-nav-height));
    overflow: auto;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftbar::-webkit-scrollbar {
    display: none;
}


.leftbar .menu {
    width: calc(100% - 2rem);
}

.leftbar .item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.7rem 0;
    cursor: pointer;
}

.leftbar .user-profile img {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    aspect-ratio: 1/1;
    border: 0.2px solid var(--color-border);
}

.leftbar .item .icons {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-primary);
}

.leftbar h4 {
    color: var(--text-color) !important;
}

hr {
    background: var(--color-border);
    border: none;
    height: 0.4px;
}

.others {
    color: var(--color-soft);
    font-size: 0.9rem;
}

@media (max-width:1024px) {
    .leftbar .item {
        align-items: center;
        justify-content: center;
    }

    .leftbar h4 {
        display: none;
    }
}

@media (max-width:768px) {
    .leftbar {
        display: none;
    }
}
