.top-nav {
    height: var(--top-nav-height);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: stretch;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-primary);
    position: sticky;
    z-index: 10;
    background: var(--color-card);
    top: 0;
}

.bottom-nav {
    height: var(--bottom-nav-height);
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: stretch;
    border-top: 1px solid var(--color-border);
    color: var(--color-primary);
    position: fixed;
    overflow: hidden;
    z-index: 10;
    background: var(--color-card);
    bottom: 0;
    width: var(--container-width);
}

.bottom-nav .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.bottom-nav .profilePic {
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.nav-container {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}


.post-drawer {
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-drawer .top-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-border);

}

.post-drawer .top-buttons .post-btn {
    color: var(--color-primary);
}

.post-drawer .top-buttons .cancel-btn {
    color: var(--color-red);
}

.post-drawer .top-buttons label[aria-disabled=true] {
    color: var(--color-soft);
}

.post-drawer .top-buttons button {
    display: none;
}

.post-drawer .media,
.post-drawer .post-story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-drawer .media .icon,
.post-drawer .post-story .icon {
    height: 80px;
    color: rgba(75, 85, 99, 1);
}

.post-drawer .media span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.post-drawer .media label,
.post-drawer .post-story label {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.post-drawer .media input,
.post-drawer .post-story input {
    display: none;
}

.post-drawer .media .post-caption {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

}

.post-drawer .media .post-caption img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 0.3rem;
    background-color: var(--color-bg);
}

.post-drawer .post-story .story-caption img {
    aspect-ratio: 1/1;
    border-radius: 0.3rem;
    background-color: var(--color-bg);
}

.post-drawer .media .post-caption textarea {
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding: 0.3rem auto;
    color: var(--text-color);
}

.post-drawer .media .post-caption textarea::placeholder {
    color: var(--color-soft);
}

.post-drawer .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    color: var(--color-soft);
    align-items: center;
}

.post-drawer .item h4 {
    color: var(--text-color);
    font-size: smaller;
}

.post-drawer .item .icon {
    color: var(--color-soft);
    width: 1rem;
    height: 1rem;
}



.post-drawer .item .name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.post-drawer .item .item-action {
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 0.5rem;
    align-items: center;
}

.post-drawer .item .input {
    background-color: var(--color-bg);
    text-align: center;
    padding: 0 0.9rem;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 0.2rem;
    color: var(--text-color);
}

.post-drawer .item .item-action .save-icon[curr='true'] {
    color: var(--color-soft);
}

.post-drawer .item .item-action .save-icon[curr='false'] {
    color: var(--color-primary);
}


.nav-container a {
    color: var(--color-primary);
    font-size: 1.1rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-SearchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    padding: 5px 10px;
}

.nav-SearchBar input {
    background: transparent;
    color: var(--color-primary);
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    display: none;
    position: relative;
}

.user {
    cursor: pointer;

}

@media (max-width:768px) {
    nav .user h4 {
        display: none;
    }

    .nav-container a {
        font-size: 1rem;
    }

    .nav-container .logo {
        font-size: 1.3rem;
    }

    .nav-SearchBar {
        border: none;
        padding: 0;
    }

    .nav-SearchBar input,
    .home-btn,
    .profile-btn,
    .darkmode-btn {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-left,
    .nav-right {
        gap: 20px;
    }


    .bottom-nav {
        padding: 1rem;
    }

    .bottom-nav .icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .bottom-nav .profilePic {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
    }
}
