.top-nav {
    height: var(--top-nav-height);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: stretch;
    border-bottom: 0.1px solid var(--color-border);
    color: var(--color-primary);
    position: sticky;
    z-index: 10;
    background: var(--color-card);
    top: 0;
}

.bottom-nav {
    height: var(--bottom-nav-height);
    display: flex;
    padding: 1.4rem 1rem;
    align-items: center;
    justify-content: stretch;
    border-top: 0.1px solid var(--color-border);
    color: var(--color-primary);
    position: fixed;
    overflow: hidden;
    z-index: 10;
    background: var(--color-card);
    bottom: 0;
    width: var(--container-width);
}

.bottom-nav .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.bottom-nav .profilePic {
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.nav-container {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    align-self: self-start;
}



.nav-container a {
    color: var(--color-primary);
    font-size: 1.1rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-SearchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    padding: 5px 10px;
}

.nav-SearchBar input {
    background: transparent;
    color: var(--color-primary);
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    display: none;
    position: relative;
}

.user {
    cursor: pointer;

}


@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }

    :root {
        --bottom-nav-height: 0rem;
    }

}

@media (max-width:768px) {
    nav .user h4 {
        display: none;
    }

    .nav-container a {
        font-size: 1rem;
    }

    .nav-container .logo {
        font-size: 1.3rem;
    }

    .nav-SearchBar {
        border: none;
        padding: 0;
    }

    .nav-SearchBar input,
    .home-btn,
    .profile-btn,
    .darkmode-btn {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-left,
    .nav-right {
        gap: 20px;
    }

    .bottom-nav .profilePic {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
    }
}
