.chat-box-body {
    height: 100%;
    margin: 0;
}

.chat-box {
    background: var(--color-card);
    height: calc(100vh - var(--top-nav-height));

    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -5rem;
    gap: 10px;
    position: relative;
}

.chat-box-top {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
    padding-top: 2rem;
    padding-bottom: var(--text-writebox-height);

    position: absolute;
    top: 0;
    bottom: 3rem;
    overflow-y: auto;
}

.chat-box-top .user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
}

.chat-box img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-top: 0.5rem;
    border: 3px solid var(--color-primary);
}

.chat-box-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: sticky;
    bottom: 3rem;
}

.chat-box-text-area {
    background: transparent;
    backdrop-filter: blur(100px);
    width: 96%;
    padding: 0.2rem 0.8rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-primary);
    z-index: 10;
}

.chat-box-text-area form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-box-text-area input {
    width: 100%;
    background: transparent;
    color: var(--color-primary);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: auto;
}



.message-area {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--color-card);
    width: 100%;
    padding: 1.4rem;
    gap: 15px;
}


.single-message {
    padding: 0.7rem;
    width: fit-content;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-message small {
    display: flex;
}

.single-message[name=true] {
    border-radius: 1rem 1rem 0 1rem;
    background-color: var(--color-primary);
    color: rgb(235, 234, 234);
    margin-left: auto;
}

.single-message[name=false] {
    border-radius: 1rem 1rem 1rem 0;
    background-color: var(--color-card);
    border: 1px solid var(--color-primary);
}

.single-message[name=true] small {
    display: flex;
    justify-content: right;
    font-size: xx-small;
}

.single-message[name=false] small {
    display: flex;
    justify-content: left;
    font-size: xx-small;
}

.chat-box-bottom .action-buttons {
    padding: 0rem;
    gap: 1rem;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
}

.chat-box-bottom .action-buttons .icon {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--color-primary);
}

.chat-box-bottom .action-buttons input,
.chat-box-bottom .action-buttons button {
    display: none;
}

@media (max-width:768px) {}
