.feedcontainer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    flex-direction: column;
    margin-top: 0;
}

.feed {
    padding: 0.5rem 0;
    background: var(--color-card);
    width: 100%;
    overflow: hidden;
}

.feed .top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0.3rem 0.7rem;
    align-items: center;
}

.feed .top-content small {
    font-size: x-small;
}


.feed .feed-caption p {
    padding: 0 0.5rem 0.7rem 0.5rem;
    font-size: small;
}

.feed .mid-content img {
    max-height: 500px;
}

.feed .bottom-content {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.7rem;
}

.action-item span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.action-item span .icon {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-soft);
}

.action-item span small {
    font-size: xx-small;
    display: flex;
    position: relative;
    top: 0.3rem;
    right: 0.3rem;
    color: var(--color-soft);

}
